*~
Doxyfile
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
build
cmake/Makefile
cmake/Makefile.in
cmake/modules/Makefile
cmake/modules/Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
contrib/Makefile
contrib/Makefile.in
contrib/devd/Makefile
contrib/devd/Makefile.in
contrib/udev/Makefile
contrib/udev/Makefile.in
contrib/win32/Makefile
contrib/win32/Makefile.in
contrib/win32/sys/Makefile
contrib/win32/sys/Makefile.in
depcomp
examples/*.o
examples/.deps/
examples/.libs/
examples/Makefile
examples/Makefile.in
examples/nfc-anticol
examples/nfc-dep-initiator
examples/nfc-dep-target
examples/nfc-emulate-forum-tag2
examples/nfc-emulate-tag
examples/nfc-emulate-uid
examples/nfc-mfsetuid
examples/nfc-poll
examples/nfc-relay
examples/pn53x-diagnose
examples/pn53x-sam
examples/pn53x-tamashell
examples/pn53x-tamashell-scripts/Makefile
examples/pn53x-tamashell-scripts/Makefile.in
examples/quick_start_example1
examples/quick_start_example2
include/Makefile
include/Makefile.in
include/nfc/Makefile
include/nfc/Makefile.in
install-sh
libnfc.pc
libnfc/*.lo
libnfc/*.o
libnfc/.deps/
libnfc/.libs/
libnfc/Makefile
libnfc/Makefile.in
libnfc/buses/*.la
libnfc/buses/*.lo
libnfc/buses/*.o
libnfc/buses/.deps/
libnfc/buses/.libs/
libnfc/buses/Makefile
libnfc/buses/Makefile.in
libnfc/chips/*.la
libnfc/chips/*.lo
libnfc/chips/*.o
libnfc/chips/.deps/
libnfc/chips/.libs/
libnfc/chips/Makefile
libnfc/chips/Makefile.in
libnfc/drivers/*.la
libnfc/drivers/*.lo
libnfc/drivers/*.o
libnfc/drivers/.deps/
libnfc/drivers/.libs/
libnfc/drivers/Makefile
libnfc/drivers/Makefile.in
libnfc/libnfc.la
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
test/*.la
test/*.lo
test/*.o
test/.deps/
test/.libs/
test/Makefile
test/Makefile.in
utils/*.la
utils/*.lo
utils/*.o
utils/.deps/
utils/.libs/
utils/Makefile
utils/Makefile.in
utils/nfc-emulate-forum-tag4
utils/nfc-list
utils/nfc-mfclassic
utils/nfc-mfultralight
utils/nfc-read-forum-tag3
utils/nfc-relay-picc
utils/nfc-scan-device
