**/.deps/
**/.libs/
**/Makefile
**/Makefile.in
*.exe
*.la
*.lo
*.o
*~
.vs/
CMakeSettings.json
Doxyfile
INSTALL
aclocal.m4
ar-lib
autom4te.cache/
build
compile
config.guess
config.h
config.log
config.status
config.sub
configure
debian/
depcomp
examples/nfc-anticol
examples/nfc-dep-initiator
examples/nfc-dep-target
examples/nfc-emulate-forum-tag2
examples/nfc-emulate-tag
examples/nfc-emulate-uid
examples/nfc-mfsetuid
examples/nfc-poll
examples/nfc-relay
examples/pn53x-diagnose
examples/pn53x-sam
examples/pn53x-tamashell
examples/quick_start_example1
examples/quick_start_example2
install-sh
libnfc.pc
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
test-driver
test/run-test.sh.log
test/run-test.sh.trs
test/test-suite.log
utils/nfc-emulate-forum-tag4
utils/nfc-jewel
utils/nfc-list
utils/nfc-mfclassic
utils/nfc-mfultralight
utils/nfc-read-forum-tag3
utils/nfc-relay-picc
utils/nfc-scan-device
