#include "windows.h"

1 VERSIONINFO
 FILEVERSION 1,3,9,0
 PRODUCTVERSION 1,3,9,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG|VS_FF_PRERELEASE
#else
 FILEFLAGS VS_FF_PRERELEASE
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "140904e4" 
        BEGIN
            VALUE "Comments", "example from libnfc\0"
            VALUE "CompanyName", "libnfc.org\0"
            VALUE "FileDescription", "NFC test application\0"
            VALUE "FileVersion", "1.4.0.0\0"
            VALUE "InternalName", "nfc-relay\0"
            VALUE "LegalCopyright", "Copyright (C) 2009, Roel Verdult\0"
            VALUE "OriginalFilename", "NFC-RELAY.EXE\0"
            VALUE "ProductName", "libnfc\0"
            VALUE "ProductVersion", "1.4.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x1409, 1252
    END
END
