#include <windows.h>

1 VERSIONINFO
	PRODUCTVERSION 1,3,9,0
	FILEOS VOS__WINDOWS32
	FILEVERSION 1,3,9,0
	FILETYPE VFT_DLL
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "140904E4"
		BEGIN
			VALUE "CompanyName","nfc.org\000\000"
			VALUE "LegalCopyright","Copyright (C) 2009, Roel Verdult\000\000"
			VALUE "ProductName","nfc\000\000"
			VALUE "ProductVersion","1.4.0.0\000\000"
			VALUE "Comments","Demonstration Win32 packaging\000\000"
			VALUE "FileDescription","Near Field Communication Library\000\000"
			VALUE "FileVersion","1.4.0.0\000\000"
			VALUE "InternalName","nfc\000\000"
			VALUE "OriginalFilename","NFC.DLL\000\000"
		END
	END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x1409, 1252
    END
END
