Source: libnfc
Section: libs
Priority: extra
Maintainer: Thomas Hood <jdthood@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), dh-autoreconf, libtool, pkg-config, libusb-dev
Standards-Version: 3.9.2
Homepage: http://www.libnfc.org/
Vcs-Svn: http://libnfc.googlecode.com/svn/trunk
Vcs-Browser: http://code.google.com/p/libnfc/source/browse/#svn/trunk

Package: libnfc3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-0.1-4
Description: Near Field Communication (NFC) library
 libnfc is a Free Software library for Near Field Communication.
 Supported NFC hardware devices are, theorically, all hardware
 based on the NXP PN531, PN532 or PN533 NFC controller chip.

Package: libnfc-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libnfc3 (= ${binary:Version}), libusb-dev
Description: Near Field Communication library (development files)
 libnfc is a free software library for near-field communication.
 It supports most hardware based on the NXP PN531, PN532 or PN533
 controller chips.

Package: libnfc-bin
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnfc3 (>= ${binary:Version})
Description: Near Field Communication binaries
 Some binaries are provided with libnfc useful for development
 purposes (nfc-list, nfc-mfclassic, nfc-mfultralight, etc.).

Package: libnfc-examples
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnfc3 (>= ${binary:Version})
Description: Near Field Communication examples
 Some examples are provided with libnfc for debugging and/or
 educational purposes (nfc-anticol, nfc-emulate, etc.).

Package: libnfc-pn53x-examples
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnfc3 (>= ${binary:Version})
Description: Near Field Communication examples for PN53x chips only
 Some PN53x-only examples are provided with libnfc for debugging
 and/or educational purposes (pn53x-sam, pn53x-tamashell, etc.).
