#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# "nocheck" option prevents from running tests (which need dedicated hardware)
export DEB_BUILD_OPTIONS=nocheck

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

override_dh_auto_configure: 
#	dh_auto_configure -- --enable-debug --with-drivers=all --enable-serial-autoprobe
	dh_auto_configure -- --enable-debug --with-drivers=acr122_usb,acr122s,arygon,pn532_uart,pn53x_usb --enable-serial-autoprobe

%:
	dh --with autoreconf $@
